PORT=4000
NEXT_PUBLIC_API_URL=http://localhost:4000/trpc
EXPO_PUBLIC_API_URL=http://localhost:4000/trpc
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
OPENAI_API_KEY=
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_IMAGES_API_TOKEN=
